{% extends 'user_nav.html' %}
{% load static %}

{% block content %}


<div class="scroll-container">
    <br><br><br><br>
    <div class="slideshow-container">

        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement1.jpg' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement2.jpg' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement3.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement4.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement5.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement6.jpg' %}" style="width:100%">
        </div>
      
        </div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
      <br>

    <div class="scroll-content">
      <section class="about-sec">
        <div class="container-fluid w-90">
            <div class="row align-items-center about-sec-inner">
                <div class="col-md-4">
                    <img src="{% static 'assets/images/campus_home.jpg' %}" alt="College Image" />
                </div>
                <div class="col-md-8">
                    <p class="head_tag">
                        About the <span class="highlight">Campus</span>
                    </p>
                    <p>
                        Bannari Amman Institute of Technology is an Autonomous, Self-financing Engineering College, Approved by AICTE, New Delhi and Affiliated to Anna University, Chennai. Nestled on the banks of The River Bhavani, BIT campus provides an environment for learning in harmony with nature, away from the odds of city life. The spacious and earth-hugging buildings, punctuated with landscaped courtyards and pathways, are designed to emphasize the business ethics and characteristics of an excellent center for learning. The Campus hosts well-planned academic blocks, computer centers, lecture halls, libraries, laboratories, conference halls, staff quarters, hostels, and students' centers. The Campus also houses a co-operative store, ATM (Axis, SBI, and KVB), and a clinic to attend to the general health of the students and staff.
                    </p>
                </div>
            </div>
        </div>
     </section>    
    </div>
    <footer class="footer">
      <div class="footer-content">
          <div class="footer-info">
              <img src="{% static 'assets/images/logo1.png' %}" alt="Footer Logo" class="footer-logo">
              <div class="footer-text">
                  <div class="footer-address">
                      <p>Alathukombai - Post, Sathyamangalam - 638 401,<br>
                      Erode District, Tamil Nadu, India.</p>
                  </div>
                  <div class="footer-contact">
                      <p><a href="#"><img class="call-icon" src="{% static 'assets/images/contact_phone.png' %}" alt="Phone"></a>&nbsp;&nbsp;&nbsp;&nbsp;+91 4295 226000&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      +91 99429 21289<br><br>
                      <a href="#"><img class="mail-icon" src="{% static 'assets/images/mail_icon.png' %}" alt="Phone"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:stayahead@bitsathy.ac.in">stayahead@bitsathy.ac.in</a></p>
                  </div>
              </div>
          </div>
          <hr class="footer-divider">
          <div class="footer-bottom">
              <p>2023 BIT ©. All Rights Reserved</p>
          </div>
      </div>
  </footer>
  
  
  
</div>


{% endblock %}