{% extends 'user_nav.html' %}
{% load static %}

{% block content %}


<div class="scroll-container">
    
    <div class="slideshow-container">

        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement1.jpg' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement2.jpg' %}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement3.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement4.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement5.jpg' %}" style="width:100%">
        </div>
    
        <div class="mySlides fade">
          <img src="{% static 'assets/images/achievements/achievement6.jpg' %}" style="width:100%">
        </div>
      
        <div>
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
    </div>
      

    <div class="scroll-content">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula leo. In euismod arcu in ex consectetur, nec posuere nunc facilisis. Pellentesque sed tincidunt magna. Sed scelerisque magna at dui venenatis, sed posuere metus pretium. Integer accumsan, justo a fermentum dapibus, erat ligula dictum justo, a interdum sapien felis at elit. Sed at dignissim enim. Aliquam erat volutpat. Vivamus id urna non risus efficitur luctus ut at lectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula leo. In euismod arcu in ex consectetur, nec posuere nunc facilisis. Pellentesque sed tincidunt magna. Sed scelerisque magna at dui venenatis, sed posuere metus pretium. Integer accumsan, justo a fermentum dapibus, erat ligula dictum justo, a interdum sapien felis at elit. Sed at dignissim enim. Aliquam erat volutpat. Vivamus id urna non risus efficitur luctus ut at lectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula leo. In euismod arcu in ex consectetur, nec posuere nunc facilisis. Pellentesque sed tincidunt magna. Sed scelerisque magna at dui venenatis, sed posuere metus pretium. Integer accumsan, justo a fermentum dapibus, erat ligula dictum justo, a interdum sapien felis at elit. Sed at dignissim enim. Aliquam erat volutpat. Vivamus id urna non risus efficitur luctus ut at lectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula leo. In euismod arcu in ex consectetur, nec posuere nunc facilisis. Pellentesque sed tincidunt magna. Sed scelerisque magna at dui venenatis, sed posuere metus pretium. Integer accumsan, justo a fermentum dapibus, erat ligula dictum justo, a interdum sapien felis at elit. Sed at dignissim enim. Aliquam erat volutpat. Vivamus id urna non risus efficitur luctus ut at lectus.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam nec vehicula leo. In euismod arcu in ex consectetur, nec posuere nunc facilisis. Pellentesque sed tincidunt magna. Sed scelerisque magna at dui venenatis, sed posuere metus pretium. Integer accumsan, justo a fermentum dapibus, erat ligula dictum justo, a interdum sapien felis at elit. Sed at dignissim enim. Aliquam erat volutpat. Vivamus id urna non risus efficitur luctus ut at lectus.</p>
    </div>
</div>


{% endblock %}