{% extends 'user_nav.html' %}

{% block content %}

    <br><br><br><br>
    <div class="container">
        <div class="header">
            <h2>Members</h2>
        </div>
        <div class="members">
            <div class="faculty">
                <div class="faculty-header">Faculty</div>
                <div class="faculty-list">
                    <div class="faculty-item">
                        <strong>Dr. Kavitha C</strong><br>
                        Associate Professor / Chemistry<br>
                        President & Convener
                    </div>
                    <div class="faculty-item">
                        <strong>Mr R Sathishkannan</strong><br>
                        Assistant Professor II / CSE<br>
                        Vice President
                    </div>
                    <div class="faculty-item">
                        <strong>Ms N Nandhini</strong><br>
                        Assistant Professor / BT<br>
                        Social Media Coordinator
                    </div>
                    <div class="faculty-item">
                        <strong>Mr J Vinoth Kumar</strong><br>
                        Assistant Professor II / ME<br>
                        IPR Activity Coordinator
                    </div>
                    <div class="faculty-item">
                        <strong>Dr C Poongodi</strong><br>
                        Professor & Head / ECE<br>
                        NIRF Coordinator
                    </div>
                    <div class="faculty-item">
                        <strong>Mr M R Prathap</strong><br>
                        Assistant Professor II / EIE<br>
                        Startup Activity Coordinator
                    </div>
                    <div class="faculty-item">
                        <strong>Mr S Sundar</strong><br>
                        Assistant Professor III / EEE
                    </div>
                </div>
            </div>
            <div class="student">
                <div class="student-header">Student</div>
                <div class="student-list">
                    <div class="student-item">
                        <strong>Ashwin C</strong><br>
                        Social Media Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Pragadeeshwaran S S</strong><br>
                        Internship Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Dhayanithi A</strong><br>
                        Startup Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Prasanna Kumar R</strong><br>
                        Startup Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Kabilan P</strong><br>
                        Innovation Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Shubashini V</strong><br>
                        Innovation Coordinator
                    </div>
                    <div class="student-item">
                        <strong>Ashwin C</strong><br>
                        Social Media Coordinator
                    </div>
                </div>
            </div>
        </div>
        <br><br><br>
        <div class="footer">
            <div class="footer-item">
                <strong>Dr. C.Kavitha</strong><br>
                President, Convener - IIC<br>
                Associate Professor<br>
                Department of Chemistry<br>
                Bannari Amman Institute of Technology<br>
                Email: iicbit@bitsathy.ac.in | kavithac@bitsathy.ac.in
            </div>
            <div class="footer-item">
                <strong>Mr. R.Sathishkannan</strong><br>
                Vice President, Co-Convener - IIC<br>
                Assistant Professor - II<br>
                Department of CSE<br>
                Bannari Amman Institute of Technology<br>
                Email: sathiskannanr@bitsathy.ac.in
            </div>
        </div>
    </div>

{% endblock %}