{% extends 'user_nav.html' %}

{% block content %}
<br><br><br><br><br><br>
<div class="members-section"> 
    <div class="members-container">
        <div class="header">
            Members
        </div>
        <div class="content">
            <div class="column faculty-column">
                <div class="section faculty">
                    <div class="section-header">Faculty</div>
                    <div class="member">
                        <strong>Dr. Kavitha C</strong><br>
                        Associate Professor / Chemistry<br>
                        President & Convener
                    </div>
                </div>
            </div>
            <div class="column student-column">
                <div class="section student">
                    <div class="section-header">Student</div>
                    <div class="member">
                        <strong>Ashwin C</strong><br>
                        Social Media Coordinator
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
